<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dakbayaknow">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DakbayaKnow">

        <activity
            android:name=".LGUContacts"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CheckRestrictions"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UploadDocxUnvacc"
            android:exported="true"
            android:parentActivityName=".UploadDocx2" />
        <activity
            android:name=".UploadDocxFullyVacc"
            android:exported="true"
            android:parentActivityName=".UploadDocx" />
        <activity
            android:name=".UploadDocx2"
            android:exported="true"
            android:parentActivityName=".TravelForm_Unvacc" />
        <activity
            android:name=".UploadDocx"
            android:exported="true"
            android:parentActivityName=".TravelForm_Submit" />
        <activity
            android:name=".BookTicket"
            android:exported="true"
            android:parentActivityName=".TravelForm_Submit" />
        <activity
            android:name=".TravelForm_Submit"
            android:exported="true"
            android:parentActivityName=".TravelRequirements" />
        <activity
            android:name=".TravelForm_Unvacc"
            android:exported="true"
            android:parentActivityName=".Unvaccinated" />
        <activity
            android:name=".TravelForm_Fullyvacc"
            android:exported="true"
            android:parentActivityName=".FullyVaccinated" />
        <activity
            android:name=".Recovered"
            android:exported="true"
            android:parentActivityName=".TravelRequirements" />
        <activity
            android:name=".Unvaccinated"
            android:exported="true"
            android:parentActivityName=".TravelRequirements" />
        <activity
            android:name=".FullyVaccinated"
            android:exported="true"
            android:parentActivityName=".TravelRequirements" />
        <activity
            android:name=".TravelRequirements"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TravelPermit"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HealthDeclarationForm"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MyApplications"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.DakbayaKnow.NoActionBar" />
        <activity
            android:name=".Register"
            android:exported="true"
            android:theme="@style/Theme.DakbayaKnow.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.DakbayaKnow.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.DakbayaKnow.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>